/////////////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/////////////////////////////////////
// SEARCH

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;

  &__input {
    background-color: var(--grey-light-2);
    border: none;
    margin-right: -2.8rem;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;

    &:focus {
      background-color: var(--grey-light-3);
      outline: none;
      width: 100%;
    }

    &::placeholder {
      font-weight: 100;
      color: var(--grey-light-4);
    }
  }

  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }
}

/////////////////////////////////////
// USER NAVIGATION

.user-nav {
  display: flex;
  height: 100%;

  & > * {
    padding: 0 2rem;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--grey-light-2);
      cursor: pointer;
    }
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    color: white;
    width: 1.75rem;
    height: 1.75rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:1.5rem;
    right: 1.1rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
    margin-left: 1rem;
  }
}

/////////////////////////////////////
// SIDEBAR

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  text-transform: uppercase;
  margin-top: 3.5rem;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }

    &::before {
      content: "";
      width: .3rem;
      height: 100%;
      background-color: var(--color-primary);
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform .2s,
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;

    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light)
    }

  }

  &__link:link,
  &__link:visited {
    position: relative;
    z-index: 10;
    text-decoration: none;
    color: var(--grey-light-1);
    padding: 1.5rem 3.5rem;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor; // color of parent element
    margin-right: 2rem;
  }
}

/////////////////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: var(--grey-light-4);
  padding: 2rem;
}